.Main {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(#e8dfe0, #8a9ea7);
}

.MainBodyContainer {
  padding: 15px;
}
