.ProductCard {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  justify-content: space-between;
  cursor: pointer;
  background-color: #8a9ea7;
  box-shadow: 2px 2px 2px 2px gray;
  position: relative;
}
.ProductImage {
  object-fit: fill;
  min-width: 120px;
  max-width: 120px;
  height: 120px;
  border-radius: 8px;
}
.MoreIcon {
  object-fit: fill;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  background-color: transparent;
  position: absolute;
  right: -3px;
  top: -3px;
}

.CartIcon {
  object-fit: fill;
  min-width: 26px;
  max-width: 26px;
  height: 26px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  bottom: 9px;
}
.ProductPriceOnSale {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: line-through;
  color: #000000;
}
.ProductPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.ProductProduction {
  border-top: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #000000;
  margin-top: 5px;
  padding-top: 5px;
}
.ProductSalePrice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #db0038;
}
.ProductTexts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  overflow: hidden;
  color: #000000;
}
.ProductName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.ProductDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #000000;
  line-height: 23px;
  max-height: 46px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 5px;
}

.ProductContainerOnShow {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  background-color: #eff7dc;
  border-radius: 8px;
  border: none;
  background-color: #8a9ea7;
  box-shadow: 2px 2px 2px 2px gray;
}

.ProductTextsContainerOnShow {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  align-items: center;
  justify-content: flex-start;
  min-height: 80px;
  text-align: center;
}
.ProductPricesContainerOnShow {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.quantity_cart_onshow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.CartIconOnShow {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.quantity_btn {
  margin: 0px 4px;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  color: black;
  background-color: #e8dfe0;
}
.quantity_count {
  margin: 4px;
  font-size: 14px;
  font-weight: 500;
}
