.PromoCardSlider {
  min-width: 100% !important;
  max-width: 100% !important;
  height: 70px !important;
  display: flex !important;
  justify-content: flex-start !important;
  color: #333 !important;
  background-color: transparent !important;
  padding: 1rem !important;
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  position: relative !important;
  margin: auto !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.PromoCardSlider::-webkit-scrollbar {
  display: none !important;
}

.BTNLEFT,
.BTNRIGHT {
  position: sticky !important;
  width: 35px !important;
  height: 35px !important;
  border-radius: 10px !important;
  border: none !important;
  opacity: 0.7 !important;
  top: 40% !important;
  z-index: 999999999999999999 !important;
  cursor: pointer !important;
  padding: 8px !important;
  color: #000000;
}

.BTNLEFT {
  left: 0 !important;
}

.BTNRIGHT {
  right: 0 !important;
}

.MainPageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProductsContainer {
  margin-top: 60px;
}
.CategoryHeadName {
  width: 90%;
  text-align: center;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  white-space: nowrap;
}
